name: laypa
channels:
  - conda-forge
dependencies:
  - python>=3.12
  - numpy
  # - llvm-openmp<16 # For CPU affinity pytorch issues (https://github.com/pytorch/pytorch/issues/102269)
  - pytorch
  - torchvision
  - cuda-toolkit>=12.8
  - opencv
  - matplotlib
  - scipy
  - pip=23 #To not have to deal with build isolation issues
  - flask
  - prometheus_client
  - imagesize
  - gunicorn
  - pillow
  - shapely
  - natsort
  - ultralytics
  - tqdm
  - scikit-image
  # - jpeg # For loading JPEG2000 images
  # - pygments #Optional for colors
  - pip:
      - git+https://github.com/facebookresearch/detectron2.git
      - git+https://github.com/cocodataset/panopticapi.git
