name: laypa
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3
  - numpy=1
  - llvm-openmp<16 # For CPU affinity pytorch issues (https://github.com/pytorch/pytorch/issues/102269)
  - mkl
  - pytorch
  - pytorch-cuda=12.4 # pin CUDA version to match dev packages
  # CUDA development headers & compiler toolchain (instead of cuda-toolkit meta)
  - cuda-cudart-dev=12.4
  - cuda-nvcc=12.4
  - cuda-libraries-dev=12.4
  # removed: cuda-toolkit
  - torchvision
  - opencv
  - matplotlib
  - scipy
  - pip=23
  - flask
  - prometheus_client
  - imagesize
  - timm
  - gunicorn
  - pillow
  - shapely
  - natsort
  - ultralytics
  - tqdm
  - scikit-image
  # build helpers for custom torch extensions
  - ninja
  - pybind11
  - setuptools
  - wheel
  # - jpeg # For loading JPEG2000 images
  # - pygments #Optional for colors
  - pip:
      - git+https://github.com/facebookresearch/detectron2.git
      - git+https://github.com/cocodataset/panopticapi.git
