_BASE_: ../segmentation_base.yaml

OUTPUT_DIR: ./output/region

MODEL:
  MODE: region

  SEM_SEG_HEAD:
    NUM_CLASSES: 7

  WEIGHTS:

TRAIN:
  WEIGHTS:

TEST:
  WEIGHTS: pretrained_models/region_model_best_mIoU.pth
